//color  Background
$color__background-body: #eee;
$color__background-post: #fff;

// color border
$color__border-post: #dfdfdf;
$color__border: #eee;

// Text
$color__text-main: #111;
$color__text-light: #767676;
$color__text-hover: lighten(#111, 22.5%);
